<launch>
    <param name="face_0_description" command="cat $(find freeplay_sandbox)/urdf/face_0.urdf" />
    <param name="face_1_description" command="cat $(find freeplay_sandbox)/urdf/face_1.urdf" />

    <arg name="r_image" default="r_camera/rgb/image_raw" />
    <arg name="l_image" default="l_camera/rgb/image_raw" />

    <include file="$(find realsense_camera)/launch/sr300_nodelet_rgbd.launch" >
        <arg name="camera"            value="r_camera" />
        <arg name="serial_no"  	      default="549205001038" />
<!--        <arg name="depth_registered_processing"     default="false"/>
        <arg name="disparity_processing"            default="false"/>
        <arg name="disparity_registered_processing" default="false"/>
        <arg name="sw_registered_processing"        default="false" />
-->
    </include>
<!--
    <include file="$(find realsense_camera)/launch/sr300_nodelet_rgbd.launch" >
        <arg name="camera"            value="l_camera" />
        <arg name="serial_no"  	      default="609203000750" />
        <arg name="depth_registered_processing"     default="false"/>
        <arg name="disparity_processing"            default="false"/>
        <arg name="disparity_registered_processing" default="false"/>
        <arg name="sw_registered_processing"        default="false" />
    </include>
-->

    <node pkg="gazr" type="estimate" name="gazr">
        <param name="face_model" value="$(find gazr)/shape_predictor_68_face_landmarks.dat" />
        <remap from="/image" to="$(arg r_image)"/>
    </node>

    <node name="estimate_focus" pkg="freeplay_sandbox" type="estimate_focus" output="screen"/>

</launch>
