<launch>

    <arg name="camera1"              default="r_camera" />
    <arg name="camera1_camera_type"  default="SR300" />
    <arg name="camera1_serial_no"    default="549205001038" />

    <arg name="camera2"              default="l_camera" />
    <arg name="camera2_camera_type"  default="F200" />
    <arg name="camera2_serial_no"    default="022150159107" />

    <!-- Best know configuration for generating depth registered point cloud. -->
    <arg name="mode"            default="manual" /> <!-- ' preset': uses cameras'  defaults, 'manual': enable setting WxH, FPS -->
    <arg name="color_width"     default="640" />
    <arg name="color_height"    default="480" />
    <arg name="depth_width"     default="640" />
    <arg name="depth_height"    default="480" />
    <arg name="depth_fps"       default="30" />
    <arg name="color_fps"       default="30" />

    <!-- Single nodelet manager for all cameras -->
    <arg name="manager" value="camera_nodelet_manager" />
    <node pkg="nodelet" type="nodelet" name="$(arg manager)" args="manager" output="screen"/>

    <group ns="$(arg camera1)">

	<!-- configure the compressed streams -->
	<param name="rgb/image_raw/theora/optimize_for" type="int" value="1" /> <!-- 1: Quality, 0: bitrate -->
	<param name="rgb/image_raw/theora/quality" type="int" value="50" /> <!-- [0, 63] -->
	<param name="rgb/image_raw/compressed/format" type="str" value="jpeg" /> <!-- jpeg/png -->
	<param name="rgb/image_raw/compressed/jpeg_quality" type="int" value="80" />
	<param name="rgb/image_raw/compressed/png_level" type="int" value="5" />
	<param name="depth/image_raw/compressedDepth/depth_max" type="double" value="2.0" />
	<param name="depth/image_raw/compressedDepth/png_level" type="int" value="5" />

        <include file="$(find realsense_camera)/launch/includes/nodelet_rgbd.launch.xml">
            <arg name="manager"      value="/$(arg manager)" />
            <arg name="camera"       value="$(arg camera1)" />
            <arg name="camera_type"  value="$(arg camera1_camera_type)" />
            <arg name="serial_no"    value="$(arg camera1_serial_no)" />
	    <arg name="mode"                      value="$(arg mode)" />
	    <arg name="depth_width"               value="$(arg depth_width)" />
	    <arg name="depth_height"              value="$(arg depth_height)" />
	    <arg name="color_width"               value="$(arg color_width)" />
	    <arg name="color_height"              value="$(arg color_height)" />
	    <arg name="depth_fps"                 value="$(arg depth_fps)" />
	    <arg name="color_fps"                 value="$(arg color_fps)" />
        </include>
    </group> 

    <group ns="$(arg camera2)">

	<!-- configure the compressed streams -->
	<param name="rgb/image_raw/theora/optimize_for" type="int" value="1" /> <!-- 1: Quality, 0: bitrate -->
	<param name="rgb/image_raw/theora/quality" type="int" value="50" /> <!-- [0, 63] -->
	<param name="rgb/image_raw/compressed/format" type="str" value="jpeg" /> <!-- jpeg/png -->
	<param name="rgb/image_raw/compressed/jpeg_quality" type="int" value="80" />
	<param name="rgb/image_raw/compressed/png_level" type="int" value="5" />
	<param name="depth/image_raw/compressedDepth/depth_max" type="double" value="2.0" />
	<param name="depth/image_raw/compressedDepth/png_level" type="int" value="5" />

        <include file="$(find realsense_camera)/launch/includes/nodelet_rgbd.launch.xml">
            <arg name="manager"      value="/$(arg manager)" />
            <arg name="camera"       value="$(arg camera2)" />
            <arg name="camera_type"  value="$(arg camera2_camera_type)" />
            <arg name="serial_no"    value="$(arg camera2_serial_no)" />
	    <arg name="mode"                      value="$(arg mode)" />
	    <arg name="depth_width"               value="$(arg depth_width)" />
	    <arg name="depth_height"              value="$(arg depth_height)" />
	    <arg name="color_width"               value="$(arg color_width)" />
	    <arg name="color_height"              value="$(arg color_height)" />
	    <arg name="depth_fps"                 value="$(arg depth_fps)" />
	    <arg name="color_fps"                 value="$(arg color_fps)" />        </include>
    </group>

</launch>
