<launch>

    <arg name="camera1"              default="camera_purple" />
    <arg name="camera1_camera_type"  default="SR300" />
    <arg name="camera1_serial_no"    default="618201002131" />

    <arg name="camera2"              default="camera_yellow" />
    <arg name="camera2_camera_type"  default="SR300" />
    <arg name="camera2_serial_no"    default="616205005351" />

    <!-- Best know configuration for generating depth registered point cloud. -->
    <arg name="mode"            default="manual" /> <!-- ' preset': uses cameras'  defaults, 'manual': enable setting WxH, FPS -->
    <arg name="color_width"     default="960" />
    <arg name="color_height"    default="540" />
    <arg name="depth_width"     default="640" />
    <arg name="depth_height"    default="480" />
    <arg name="depth_fps"       default="30" />
    <arg name="color_fps"       default="30" />

    <arg name="enable_audio"    default="false" /> <!-- if true, start audio capturing on the 2 cameras - you might have to set audio_device1 and audio_device2! -->
    <arg name="audio_device1"   default="hw:3" /> <!-- the audio device for the first camera - check arecord -l -->
    <arg name="audio_device2"   default="hw:2" /> <!-- the audio device for the second camera - check arecord -l -->
    <arg name="sample_rate"     default="16000" /> 
    <arg name="channels"        default="1" /> 

    <!-- Single nodelet manager for all cameras -->
    <arg name="manager" value="camera_nodelet_manager" />
    <node pkg="nodelet" type="nodelet" name="$(arg manager)" args="manager" required="true" output="screen"/>

    <group ns="$(arg camera1)">

        <param name="sr300config" textfile="$(find freeplay_sandbox)/config/sr300.cfg" />
        <param name="driver/enable_tf_dynamic" value="true" /> <!-- enable dynamic publishing of TF frames - important when using 2 cameras intel-ros/realsense#169 -->

        <!-- configure the compressed streams -->
        <param name="rgb/image_raw/theora/optimize_for"         type="int" value="1" /> <!-- 1: Quality, 0: bitrate -->
        <param name="rgb/image_raw/theora/quality"              type="int" value="50" /> <!-- [0, 63] -->
        <param name="rgb/image_raw/compressed/format"           type="str" value="jpeg" /> <!-- jpeg/png -->
        <param name="rgb/image_raw/compressed/jpeg_quality"     type="int" value="80" />
        <param name="rgb/image_raw/compressed/png_level"        type="int" value="3" />
        <param name="depth/image_raw/compressedDepth/depth_max" type="double" value="2.0" />
        <param name="depth/image_raw/compressedDepth/png_level" type="int" value="3" />

        <include file="$(find realsense_camera)/launch/includes/nodelet_rgbd.launch.xml">
            <arg name="manager"                 value="/$(arg manager)" />
            <arg name="camera"                  value="$(arg camera1)" />
            <arg name="camera_type"             value="$(arg camera1_camera_type)" />
            <arg name="serial_no"               value="$(arg camera1_serial_no)" />
            <arg name="mode"                    value="$(arg mode)" />
            <arg name="depth_width"             value="$(arg depth_width)" />
            <arg name="depth_height"            value="$(arg depth_height)" />
            <arg name="color_width"             value="$(arg color_width)" />
            <arg name="color_height"            value="$(arg color_height)" />
            <arg name="depth_fps"               value="$(arg depth_fps)" />
            <arg name="color_fps"               value="$(arg color_fps)" />
        </include>

        <node if="$(arg enable_audio)" name="audio_capture" pkg="audio_capture" type="audio_capture" required="true" output="screen">
            <param name="bitrate" value="128"/>
            <param name="device" value="$(arg audio_device1)"/>
            <param name="channels" value="$(arg channels)"/>
            <param name="sample_rate" value="$(arg sample_rate)"/>
        </node>


    </group> 

    <group ns="$(arg camera2)">

        <param name="sr300config" textfile="$(find freeplay_sandbox)/config/sr300.cfg" />
        <param name="driver/enable_tf_dynamic" value="true" /> <!-- enable dynamic publishing of TF frames - important when using 2 cameras intel-ros/realsense#169 -->

        <!-- configure the compressed streams -->
        <param name="rgb/image_raw/theora/optimize_for"         type="int" value="1" /> <!-- 1: Quality, 0: bitrate -->
        <param name="rgb/image_raw/theora/quality"              type="int" value="50" /> <!-- [0, 63] -->
        <param name="rgb/image_raw/compressed/format"           type="str" value="jpeg" /> <!-- jpeg/png -->
        <param name="rgb/image_raw/compressed/jpeg_quality"     type="int" value="80" />
        <param name="rgb/image_raw/compressed/png_level"        type="int" value="3" />
        <param name="depth/image_raw/compressedDepth/depth_max" type="double" value="2.0" />
        <param name="depth/image_raw/compressedDepth/png_level" type="int" value="3" />

        <include file="$(find realsense_camera)/launch/includes/nodelet_rgbd.launch.xml">
            <arg name="manager"                   value="/$(arg manager)" />
            <arg name="camera"                    value="$(arg camera2)" />
            <arg name="camera_type"               value="$(arg camera2_camera_type)" />
            <arg name="serial_no"                 value="$(arg camera2_serial_no)" />
            <arg name="mode"                      value="$(arg mode)" />
            <arg name="depth_width"               value="$(arg depth_width)" />
            <arg name="depth_height"              value="$(arg depth_height)" />
            <arg name="color_width"               value="$(arg color_width)" />
            <arg name="color_height"              value="$(arg color_height)" />
            <arg name="depth_fps"                 value="$(arg depth_fps)" />
            <arg name="color_fps"                 value="$(arg color_fps)" />
        </include>

        <node if="$(arg enable_audio)" name="audio_capture" pkg="audio_capture" type="audio_capture" required="true" output="screen">
            <param name="bitrate" value="128"/>
            <param name="device" value="$(arg audio_device2)"/>
            <param name="channels" value="$(arg channels)"/>
            <param name="sample_rate" value="$(arg sample_rate)"/>
        </node>

    </group>

</launch>
