<launch>

    <!-- load sandtray URDF + cameras frames -->
    <include file="$(find freeplay_sandbox)/launch/sandtray.launch" />

    <!-- compute the intersection of the gaze direction (based on the TF frame of a face) with the
         sandtray, and publishes it as a 2D pose -->
    <node pkg="freeplay_sandbox" type="sandtray_gaze_viz" name="sandtray_gaze_viz">
            <remap from="/gazepose" to="/gazepose_on_sandtray"/>
    </node>

    <!-- build an occupancy map based on the positions of the objects within the
         sandbox, and provide a path planning service to move around said objects -->
    <node pkg="freeplay_sandbox" type="sandbox_map_and_plan" name="map_and_plan" />

    <!-- creates an action server to move sandbox objects to specific positions, 
         using the path planner -->
    <node pkg="freeplay_sandbox" type="move_sandbox_items" name="move_sandbox_items" />

    <!-- process the sandbox background image to extract possible zones using
         colour-based segmentation -->
    <node pkg="freeplay_sandbox" type="zones_from_image" name="sandbox_zones_from_image" output="screen">
        <remap from="/image" to="/sandbox/image"/>
        <remap from="/camera_info" to="/sandbox/camera_info"/>
    </node>

</launch>
