<launch>

    <arg name="with_attention"      default="false" doc="Enable visual attention tracking" />
    <arg name="with_robot"          default="false" doc="Run with a physical Nao" />
    <arg name="with_marker_localisation"          default="false" doc="Enable monitoring for fiducial marker to localise the robot" />
    <arg name="nao_ip"              default="$(optenv NAO_IP 127.0.0.1)" doc="If using a robot, Nao's IP" />
    <arg name="nao_port"            default="$(optenv NAO_PORT 9559)" doc="If using a robot, Nao's port" />

    <arg name="roscore_ip"          default="127.0.0.1" />
    <arg name="network_interface"   default="eth0" doc="Network interface used to communicate with the robot" />

    <arg name="camera_frame"        default="/camera" />

    <group if="$(arg with_robot)">
        <!-- naoqi driver -->
        <include file="$(find naoqi_driver)/launch/naoqi_driver.launch" >
            <arg name="nao_ip"            value="$(arg nao_ip)" />
            <arg name="nao_port"          value="$(arg nao_port)" />
            <arg name="roscore_ip"        value="$(arg roscore_ip)" />
            <arg name="network_interface" value="$(arg network_interface)" />
        </include>

        <node pkg="freeplay_sandbox" type="nao_behaviours" name="nao_behaviours">
            <param name="nao_ip"            value="$(arg nao_ip)" />
        </node>
    </group>

    <!-- Sets the image source. -->
    <arg name="image" if="$(arg with_robot)" default="/naoqi_driver_node/camera/front/image_raw" />
    <!-- Sets the image source. -->
    <arg name="image" unless="$(arg with_robot)" default="/v4l/camera/image_raw" />


    <group if="$(arg with_marker_localisation)">
        <node pkg="freeplay_sandbox" type="sandtray_localisation" name="sandtray_localisation">
            <remap from="/image" to="$(arg image)" />
        </node>
    </group>


    <node pkg="freeplay_sandbox" type="play" name="sandbox_play" output="screen">
    </node>

</launch>
