
<launch>

    <arg name="camera1"              default="participant_purple" />
    <arg name="camera2"              default="participant_yellow" />
    <arg name="env_camera"           default="env_camera" />
    <arg name="duration"             default="40m" />
    <arg name="output_file"          default="freeplay_postprocess" />

    <arg name="bag" />

    <!-- configure the compressed streams -->
    <param name="$(arg camera1)/rgb/image_rect_color/compressed/format" type="str" value="jpeg" />
    <param name="$(arg camera1)/rgb/image_rect_color/compressed/jpeg_quality" type="int" value="85" />
    <param name="$(arg camera1)/depth_registered/sw_registered/image_rect/compressedDepth/depth_max" type="double" value="2.0" />
    <param name="$(arg camera1)/depth_registered/sw_registered/image_rect/compressedDepth/png_level" type="int" value="3" />

    <param name="$(arg camera2)/rgb/image_rect_color/compressed/format" type="str" value="jpeg" />
    <param name="$(arg camera2)/rgb/image_rect_color/compressed/jpeg_quality" type="int" value="85" />
    <param name="$(arg camera2)/depth_registered/sw_registered/image_rect/compressedDepth/depth_max" type="double" value="2.0" />
    <param name="$(arg camera2)/depth_registered/sw_registered/image_rect/compressedDepth/png_level" type="int" value="3" />

    <param name="$(arg env_camera)/image/compressed/format" type="str" value="jpeg" />
    <param name="$(arg env_camera)/image/compressed/jpeg_quality" type="int" value="85" />


    <arg name="topics" default="/tf

                                /footprints
                                /zones
                                /sandtray/background/image/compressed

                                $(arg camera1)/audio
                                $(arg camera2)/audio

                                $(arg camera1)/rgb/camera_info 
                                $(arg camera1)/rgb/image_rect_color/compressed 
                                $(arg camera1)/depth/camera_info 
                                $(arg camera1)/depth_registered/sw_registered/image_rect/compressedDepth 

                                $(arg camera2)/rgb/camera_info 
                                $(arg camera2)/rgb/image_rect_color/compressed
                                $(arg camera2)/depth/camera_info
                                $(arg camera2)/depth_registered/sw_registered/image_rect/compressedDepth

                                $(arg env_camera)/image/camera_info 
                                $(arg env_camera)/image/compressed 
                                "/>

     <node pkg="rosbag" type="record" name="rosbag_record_freeplay_sandbox"
         args="--output-name $(arg output_file) $(arg topics) --duration=$(arg duration)"
         output="screen" required="true" />

    <include file="$(find freeplay_sandbox)/launch/rgbd_replay.launch">
        <arg name="repub1"         value="$(arg camera1)" />
        <arg name="repub2"         value="$(arg camera2)" /> -->
        <arg name="env_camera"      value="$(arg env_camera)" />
        <arg name="loop"            value="false" />
        <arg name="start"           value="0" />
        <arg name="delay"           value="1" />
        <arg name="rate"            value="1.0" />
        <arg name="bag"             value="$(arg bag)" />
        <arg name="keepalive"       value="false" />
    </include>


</launch>
