
<launch>

    <arg name="camera1"              default="camera" />
    <arg name="topics" default="/tf_static /tf $(arg camera1)/color/camera_info $(arg camera1)/color/image_raw $(arg camera1)/depth/camera_info $(arg camera1)/depth/image_raw $(arg camera1)/ir/camera_info $(arg camera1)/ir/image_raw" />


     <node pkg="rosbag" type="record" name="rosbag_record_freeplay_sandbox"
         args="-o freeplay-sanbox $(arg topics)"
         output="screen" />

</launch>
