
<launch>

    <arg name="camera1"              default="r_camera" />
    <arg name="camera2"              default="l_camera" />

    <arg name="bag" />

    <arg name="loop" default="false" />
    <arg name="start" default="0" />

    <!-- Disable respawn topics by default -->
    <arg name="respawn" default="false" />

    <!-- Worker threads for the nodelet manager -->
    <arg name="num_worker_threads" default="6" />

    <!-- Push down all topics/nodelets into "camera" namespace -->
    <group ns="$(arg camera1)">

        <!-- Start nodelet manager in provided namespace -->
        <arg name="manager" value="$(arg camera1)_nodelet_manager" />
        <include file="$(find rgbd_launch)/launch/includes/manager.launch.xml">
            <arg name="name"                value="$(arg manager)" />
            <arg name="debug"               value="false" /> <!-- run in GDB? -->
            <arg name="num_worker_threads"  value="$(arg num_worker_threads)" />
        </include>

        <!-- Load standard constellation of processing nodelets -->
        <include file="$(find rgbd_launch)/launch/includes/processing.launch.xml">
            <arg name="manager"                         value="$(arg manager)" />
            <arg name="rgb"                             value="rgb" />
            <arg name="ir"                              value="ir" />
            <arg name="depth"                           value="depth" />
            <arg name="depth_registered"                value="depth_registered" />
            <arg name="respawn"                         value="$(arg respawn)" />
            <arg name="rgb_processing"                  default="true"/>
            <arg name="debayer_processing"              default="false"/> <!-- to generate the mono version of the RGB streams -->
            <arg name="ir_processing"                   default="false"/>
            <arg name="depth_processing"                default="true"/>
            <arg name="depth_registered_processing"     default="true"/>
            <arg name="disparity_processing"            default="false"/>
            <arg name="disparity_registered_processing" default="false"/>
            <arg name="hw_registered_processing"        default="false" />
            <arg name="sw_registered_processing"        default="true" />
        </include>

    </group>

    <!-- Push down all topics/nodelets into "camera" namespace -->
    <group ns="$(arg camera2)">

        <!-- Start nodelet manager in provided namespace -->
        <arg name="manager" value="$(arg camera2)_nodelet_manager" />
        <include file="$(find rgbd_launch)/launch/includes/manager.launch.xml">
            <arg name="name"                value="$(arg manager)" />
            <arg name="debug"               value="false" /> <!-- run in GDB? -->
            <arg name="num_worker_threads"  value="$(arg num_worker_threads)" />
        </include>

        <!-- Load standard constellation of processing nodelets -->
        <include file="$(find rgbd_launch)/launch/includes/processing.launch.xml">
            <arg name="manager"                         value="$(arg manager)" />
            <arg name="rgb"                             value="rgb" />
            <arg name="ir"                              value="ir" />
            <arg name="depth"                           value="depth" />
            <arg name="depth_registered"                value="depth_registered" />
            <arg name="respawn"                         value="$(arg respawn)" />
            <arg name="rgb_processing"                  default="true"/>
            <arg name="debayer_processing"              default="false"/> <!-- to generate the mono version of the RGB streams -->
            <arg name="ir_processing"                   default="false"/>
            <arg name="depth_processing"                default="true"/>
            <arg name="depth_registered_processing"     default="true"/>
            <arg name="disparity_processing"            default="false"/>
            <arg name="disparity_registered_processing" default="false"/>
            <arg name="hw_registered_processing"        default="false" />
            <arg name="sw_registered_processing"        default="true" />
        </include>

    </group>


    <node  if="$(arg loop)" pkg="rosbag" type="play" name="rosbag_play_freeplay_sandbox"
        args="--loop $(arg bag) --start $(arg start)"
        output="screen" />
    <node  unless="$(arg loop)" pkg="rosbag" type="play" name="rosbag_play_freeplay_sandbox"
        args="--keep-alive $(arg bag) --start $(arg start)"
        output="screen" />

</launch>
