<launch>

  <arg name="camera_device" default="/dev/video0" /> <!-- only used if using external camera -->

  <!-- Sets the image source. -->
  <arg name="image" default="/v4l/camera/image_raw" />
  <remap from="image" to="$(arg image)" />
  
  <!-- Start the GSCAM camera driver -->
  <include file="$(find gscam)/v4l.launch" >
      <arg name="DEVICE" value="$(arg camera_device)"/>
  </include>

  <node pkg="ros_opencv_sandbox" type="run" name="ros_opencv_sandox" output="screen">
  </node>

</launch>
